#root {
  margin: 0 auto;
  text-align: center;
  padding: 0px;
}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #21272a;
}

header {
  height: 70px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #00000033;
  padding: 10px;
}

#user-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}

#user-icon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 32px;
  height: 32px;

  border-radius: 50%;
}

#user-icon p {
  display: flex;
  align-items: center;
  margin: 0px;
}

#container {
  display: flex;
  margin-top: 70px;
  height: calc(100vh - 70px);
}

#sideNav {
  width: 240px;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  background: white;
  padding: 1.5em;
  overflow-y: auto;
  z-index: 8;
  border-right: 1px solid #00000033;
}

.main {
  margin-left: 240px;
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  list-style: none;
  text-align: left;
  
}

#topics-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.topic-item {
  text-align: left;
  padding: 4px;
}

.topic-item a {
  text-decoration: none;
  color: #21272a;
}

header #home-link {
  text-decoration: none;
  color: #21272a;
  margin: 0px;
}

header h1 {
  margin: 0px;
}

.card-heading {
  display: flex;
  gap: 0.25em;
  font-size: 0.75em;
}

.author {
  font-size: 0.75rem;
  font-weight:bold;
}

.article {
  margin-bottom: 8px;
}

.article-title {
  font-size: 1.25em;
  font-weight: bold;
}

.article p {
  padding: 0px;
  margin: 0px;
}

.article-info {
  padding: 10px 0px;
}

.article-img {
  border-radius: 2em;
  padding: 10px 0;
}

.article a {
  text-decoration: none;
}

.reactions {
  display: flex;
  gap: 0.75em;
}

.pill img {
  padding: 0px;
  background-color: transparent;
}

.pill {
  padding: 6px 12px;
  background-color: rgb(229, 235, 238);
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

.votes {
  padding: 6px 12px;
  background-color: rgb(229, 235, 238);
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 8px;
}



.vote-button img {
  padding: 0px;
  border: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.votes p {
  background-color: transparent;
}

.vote-button {
  background-color: transparent;
  padding: 0px;
  align-items: center;
  justify-content: center;
  border: none;
}

.logo {
  width: 160px;
}

.main ul {
  list-style: none;
  padding-left: 12px;
  margin-bottom: 0;
  
  
}

.main li {
  border-top: 1px solid #00000033;
}



#sort-by-dropdown {
  background-color: white;
  color: black;
  border: none;


}

#sort-by-dropdown:hover {
  background-color: rgb(229, 235, 238);
  color: black;
  border: none;
  border-radius: 15px;

}

#sort-by-dropdown:focus {
  background-color: rgb(229, 235, 238);
  color: black;
  border: none;
  border-radius: 15px;

}
 .article-list-header {
  margin-bottom: 10px;
 }

 .article-list-header h3 {
  padding-left: 8px;
 }

 .comments-list {
  margin-top: 12px;
 }

 .comment-form-elements {
  display: flex;
  border-radius: 999px;
  border: 1px solid black;
  margin-bottom: 12px;
  justify-content: space-between;
 }

 .comment-textbox {
  border: none;
  margin: 12px;
 }

 .comment-button {
  margin: 12px;
  padding: 4px 6px;
  border-radius: 999px;
  cursor: pointer;
  background-color: rgb(67, 73, 77);
  color: white;
 }

 .delete-comment-button {
  margin: 12px;
  padding: 4px 6px;
border:none;
  cursor: pointer;
  background-color: transparent;
 color:  rgb(67, 73, 77);
 }

 .modal-button {
  margin: 12px;
  padding: 6px 8px;
  border-radius: 999px;
  cursor: pointer;
  background-color: rgb(67, 73, 77);
  color: white;
  border: none;
 }

 .delete-modal-button {
  background-color: red;
  margin: 12px;
  padding: 6px 8px;
  border-radius: 999px;
  cursor: pointer;
  border: none;
  color: white;

 }

 .modal-options{
  justify-content: center;
  align-items: center;
 }


 textarea {
  width: 100%;
  height: 100%;
 }

 .comment-card {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
  
 }

 .comment-card p {
  margin: 4px 0px;
  
 }
 


 #container {
  flex-wrap: wrap;
}


@media (max-width: 768px) {
  #sideNav {
    position: relative;
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #00000033;
    padding: 0px;
    margin-left: 16px;
    justify-content: center;
    align-items: center;
    top: 0px;
  }

  #topics-list li {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .article-img {
    max-width: 100%;
    height: auto;
    display: block;
  }


 

  .main {
    margin-left: 0;
  }

  header {
   
    align-items: center;
    height: auto;
    padding: 8px;
    
  }

  .logo {
    width: 120px;
  }

  .main .article-list {
    padding-left: 0;
  }
  


}

.main {
  width: 100%;
  max-width: 100%;
}

.article-title {
  font-size: 1.1rem;
}

