* {
  /* border: 1px solid lightgrey; */
  color: black;
}

#root {
  text-align: center;
}

body {
}

html,
body,
#root {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0px 10px 0px 0px;
  align-items: center;
  justify-content: center;
  margin: 0px;

  padding-left: 0px;
}

.articles-list {
  gap: 10px;
  margin: 0px;
  padding: 0px;
}

.articles-list ul {
  gap: 10px;
  margin: 10px;
  padding: 0px;
}

ul #topics-list {
  display: flex;
  gap: 10px;
}

.topic-button {
  border: none;
  background-color: transparent;

  margin: 10px;
}

.comment-list {
  margin: 0px;
  padding: 0px;
}

.article-card {
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.article-card p {
  text-align: left;
}

li img,
img {
  max-width: 100%;
  height: auto;
  padding: 10px;
}

.pill {
  border: none;
  background-color: #e2e7e9;
  border-radius: 15px;
  text-align: center;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 10px;
}

.user-icon-img {
  height: 32px;
  width: 32px;
  padding: 0px;
  border: 50%;
}

.single-article {
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.comment-card {
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
}

.vote-button img {
  padding: 0px;
  border: none;
  width: 20px;
  height: 20px;
}

.pill p {
  margin: 0px;
}

.vote-button {
  background-color: transparent;
  padding: 0px;
  align-items: center;
  justify-content: center;
  border: none;
}

button {
  border: 1px solid black;
}

#add-comment-form {
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loadingSpinner {
  display: flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
  margin: 10px;
}

.loadingSpinner p {
  margin: 0px;
  padding: 0px;
}

header {
  margin: 20px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

#user-icon {
  display: flex;
  gap: 10px;
}
#user-icon p {
  padding: 0px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  margin-block-start: 0px;
}

p {
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-bottom: 0%;
}

.error {
  color: red;
}

.delete-comment-button {
  border: 1px solid red;
  background-color: lightpink;
  border-radius: 15px;
}

.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
.toast-body {
  background-color: lightblue;
  text-align: center;
}

.modal-body {
  text-align: center;
}

.modal-button {
  margin: 10px;
  border-radius: 15px;
}

.card-heading {
  display: flex;
  justify-content: left;
  font-weight: bold;
  font-size: 0.75em;
  gap: 10px;
}

.author {
  font-size: 0.75em;
}

.card-heading .topic {
  background-color: #e2e7e9;
  border-radius: 15px;
  padding: 5px;
}

.topics-list {
  display: flex;
}

.topic-heading {
  font-weight: bold;
  background-color: #e2e7e9;
  border-radius: 15px;
  padding: 5px;
  margin: 20px;
}

#sort-by-dropdown {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 15px;
}

